<% @recipe.name do |recipes| %>
<h2> <%= recipes.name %></h2>
<h2> <%= recipes.content %></h2>
<%end%>

<h3>Ingredients</h3>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
<% end %>
</ul>
