/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(https://cdn.pixabay.com/photo/2014/06/11/17/00/cook-366875_1280.jpg);
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    background-color: burlywood;
    color: burlywood;
    height: 100vh;
      font-family: Verdana, Geneva, sans-serif;
  }
  .navbar{
    padding-top: 25px;
  }
  nav {
   position: relative;
   width: calc(100% - 60px);
   margin: 0 auto;
   background: #000000;
   z-index: 1;
   text-align: right;
   padding-right: 3%;
  }
  .logo {
    width: 25%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding: 10px 25px;
  }
  .menu-area li {
    display: inline-block;
      list-style-type: none;
  }
  .menu-area a {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
      text-decoration: none;    
  }
  .menu-area a:hover {
    background: deeppink;
    color: #fff;
  }
  nav:before {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 2px solid transparent;
    top: 100%;
    left: 0;
  }
  nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 2px solid transparent;
    top: 100%;
    right: 0;
  }
  