<% if session[:current_user_id] %>
      <h1>
        Welcome <%= @current_user%>! <br>

        Click create recipes to start or All Recipes to see your saved recipes! 

      </h1>
    <%else%>
      <h1>
        Welcome To Formuoli!<br>

        Please sign up or login to see your recipes 
      </h1>
<% end %>